
<div>
  <p>
    Do you have a normal group of friends you like to hang out with? Such as your
    Fantasy Football League, Thursday Movie Night, or Game night.
  </p>
    <p>Even if you have
    a recurring event, plans tend to change or someone seems to always miss the updates.
  </p>
  <p>
    With Our Events users can register under their group name and have a central hub to
    keep track of all upcoming plans. Any user to create, update, and text those within
    the group about the fun happenings to come.
  </p>
</div>
