<!-- this is the nav bar provided my angular materials -->
<div ng-controller="TabCtrl as ac" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="ac.goto('page1')" name="page1">
        main
      </md-nav-item>
      <md-nav-item md-nav-click="ac.goto('/about')" ng-href="/about" name="about">
        About
      </md-nav-item>
      <md-nav-item md-nav-click="ac.goto('page3')" name="page3">
        Technologies
      </md-nav-item>
    </md-nav-bar>
    <div class="ext-content">
    </div>
  </md-content>
</div>



<div class="contianer">
  <form ng-submit="cc.addItem()">
<!-- event name input -->
    <div>
      <label for="name">Event name:</label>
      <input class="inputbox" type="text" placeholder="Girls Night Out" ng-model="cc.create.name" />
    </div>
<!-- event date/datepicker. provided my angular material -->
    <div>
      <md-content ng-controller="AppCtrl as ctrl" layout-padding ng-cloak>
        <div layout-gt-xs="row">
          <div flex-gt-xs>
            <md-datepicker md-placeholder="Enter date" ng-model="cc.create.date"></md-datepicker>
          </div>
        </div>
      </md-content>
    </div>
<!-- time input -->
    <div>
      <label for="time">Time:</label>
      <input class="inputbox" type="text" placeholder="07:36pm" ng-model="cc.create.time" />
    </div>
<!-- location input -->
<!-- will need to convert ' ' to + to work with google maps -->
    <div>
      <label for="location">Location:</label>
      <input  class="inputbox"type="text" placeholder="123 Smith LN N city MN 55448" ng-model="cc.create.location" />
    </div>
<!-- description input -->
    <div>
      <label for="description">Description</label>
      <input class="inputbox" type="text", placeholder="..." ng-model="cc.create.description" />
    </div>
  </form>


<button class="btn btn-default" ng-click="cc.addItem()" type="button" name="create">Create</button>
<a ng-href="#!landing"><button class="btn btn-default">Cancel</button></a>



</div>
