
<div class="container">

calendarIsOpen: {{cc.calendarIsOpen}}

  <form ng-submit="cc.addItem()">
<!-- event name input -->
    <div>
      <label for="name">Event name:</label>
      <input class="inputbox" type="text" placeholder="Girls Night Out" ng-model="cc.create.name" />
    </div>
<!-- event date/datepicker. provided my angular material -->
    <div>
      <md-content ng-controller="AppCtrl as ctrl" layout-padding ng-cloak>
        <div layout-gt-xs="row">
          <div flex-gt-xs>
            <md-datepicker ng-blur="cc.calendarBlur()" ng-click="cc.calendarToggle(s)" ng-focus="cc.calendarFocus()" md-placeholder="Enter date" ng-model="cc.create.date"></md-datepicker>
          </div>
        </div>
      </md-content>
    </div>
<!-- time input -->
    <div>
      <label for="time">Time:</label>
      <input class="inputbox" type="text" placeholder="07:36pm" ng-model="cc.create.time" />
    </div>
<!-- location input -->
<!-- will need to convert ' ' to + to work with google maps -->
    <div>
      <label for="location">Location:</label>
      <input  class="inputbox"type="text" placeholder="123 Smith LN N city MN 55448" ng-model="cc.create.location" />
    </div>
<!-- description input -->
    <div>
      <label for="description">Description</label>
      <input class="inputbox" type="text", placeholder="..." ng-model="cc.create.description" />
    </div>
  </form>


<button ng-disabled="cc.calendarIsOpen" class="btn btn-default" ng-click="cc.addItem()" type="button" name="create">Create</button>
<a ng-href="landing"><button ng-disabled="cc.calendarIsOpen" class="btn btn-default">Cancel/Go Back</button></a>


</div>
