
<div ng-repeat='thing in evc.eventDetails'>
  <div class="editcontainer">
<!-- xedtibl change and update-->
  <a href="eventview/{{thing._id}}" editable-textarea="thing.name"e-rows="7" e-cols="20">
  {{ thing.name || 'no description' }}
  </a>
  <br />
  <a href="eventview/{{thing._id}}" editable-textarea="thing.time"e-rows="7" e-cols="20">
  {{ thing.time || 'no description' }}
  </a>
  <br />
  <a href="eventview/{{thing._id}}" editable-textarea="thing.location"e-rows="7" e-cols="20">
  {{ thing.location || 'no description' }}
  </a>
  <br />
  <a href="eventview/{{thing._id}}" editable-textarea="thing.description"e-rows="7" e-cols="20">
  {{ thing.description || 'no description' }}
  </a>
  <br />
  <button type="button" name="button" class="btn btn-default evb updateb" ng-click="evc.updateEvent(thing)">Save Changes</button>

  </div>

<!-- This is the google provided code -->
<iframe class="iframe" style="display:block" width="100%" height="55%" ng-src="{{ thing.location | googleMapUrl }}" frameborder="0" allowfullscreen></iframe>

<div class="evbuttons">
<a ng-href="landing"><button type="button" name="button" class="btn btn-default evb" ng-click="evc.removeEvent(thing._id)">Delete</button></a>
<button type="button" name="button" class="btn btn-default evb" ng-click="evc.sendText(thing.name)">Send Text To Group</button>
<a ng-href="landing"><button class="btn btn-default">View Events</button></a>
</div>

</div>
