<div class="col-sm-8" ng-init="lcc.getItem()">

  <p>this is the landing page. will show "cards" of the current events and a card to add an event in the for m a giant plus button</p>
  <div ng-repeat="thing in lcc.itemArray">
    <!-- to go to a new view with full description -->
    <a ng-href="#!eventview/{{thing._id}}"><button class="btn btn-default">{{thing.name}} <br /> {{thing.date}} <br /> {{thing.time}} </button></a>
  </div>
<!-- button to go to create page -->
  <div class="createbutton">
    <a ng-href="#!create"><button class="btn btn-default">Create New Event </button></a>
  </div </div>
